<div class="wrapper">
  <div class="blocks-container" *ngIf="heroes?.length">
    <div class="block" *ngFor="let hero of heroes">
      <div class="hero-block">
        <img width="100px" [src]="hero.imageUrl" [alt]="hero.name" />
        <div>
          <h4>Name: {{ hero.name }}</h4>
          <p>Quotes: {{ hero.quotes.length }}</p>
          <p>Your: {{ hero.userId === userId ? "YES" : "NO" }}</p>
        </div>
        <div class="actions-block">
          <button
            *ngIf="hero.userId === userId"
            (click)="editHero(hero)"
            mat-raised-button
            color="accent"
          >
            Edit
          </button>
          <button
            *ngIf="hero.userId === userId"
            (click)="removeHero(hero)"
            mat-raised-button
            color="warn"
          >
            REMOVE
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!heroes?.length">No heroes...</div>
</div>
