<div style="margin: 40px">
  <button mat-stroked-button color="warn" (click)="addNewQuote()">
    Add New Quote
  </button>
</div>

<div class="quotes-list">
  <div *ngFor="let quote of quotes" class="quote">
    <p>QUOTE: {{ quote.text }}</p>
    <p>SEASON: {{ quote.season }}</p>
    <p>EPISODE: {{ quote.episode }}</p>
    <p>TIME: {{ quote.time }}</p>
    <p>HERO: {{ quote.author.authorName + ' ' + quote.author.id }}</p>
    <button mat-button (click)="deleteQuote(quote)" color="warn">DELETE</button>
    <button mat-button (click)="editQuote(quote)" color="primary">EDIT</button>
  </div>
</div>
