.mat-toolbar {
  padding: 8px 0;
  background-color: black;
}

.mat-toolbar-row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-between;

  li {
    color: #fff;
    margin-right: 16px;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }
}

.mat-icon {
  font-size: 28px;
}

.active {
  border-bottom: 4px #fff solid;
}

.icon-active {
  color: red;
}

.auth-btn {
  cursor: pointer;
}

.auth-options {
  .mat-icon {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;

    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 580px) {
  .list {
    li {
      color: #fff;
      margin-right: 4px;
      font-size: 16px;
      cursor: pointer;

      &:last-child {
        margin: 0;
      }
    }
  }
}

