<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="">
      <img src="/assets/logo.svg" alt="Logo" />
    </a>
    <ul class="list">
      <li routerLinkActive="active" routerLink="anime">Anime</li>
      <li routerLinkActive="active" routerLink="heroes">Heroes</li>
      <li routerLinkActive="active" routerLink="quotes">Quotes</li>
    </ul>
    <div class="auth-options">
      <mat-icon
        *ngIf="!isAuthorized"
        class="auth-btn"
        matTooltip="Login"
        routerLink="login"
        routerLinkActive="icon-active"
        >perm_identity</mat-icon
      >
      <mat-icon
        *ngIf="!isAuthorized"
        class="auth-btn"
        matTooltip="Sign Up"
        routerLink="signup"
        routerLinkActive="icon-active"
        >add_circle_outline</mat-icon
      >
      <button
        *ngIf="isAuthorized"
        (click)="logoutHandler()"
        mat-raised-button
        color="warn"
      >
        Logout
      </button>
      <span class="user-name" *ngIf="userName">
        Welcome {{ userName }}
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
