<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="">
      <img src="/assets/logo.svg" alt="Logo" />
    </a>
    <ul class="list">
      <li routerLinkActive="active" routerLink="anime">Anime</li>
      <li routerLinkActive="active" routerLink="heroes">Heroes</li>
      <li routerLinkActive="active" routerLink="quotes">Quotes</li>
    </ul>
    <div class="auth-options">
      <button
        mat-button
        *ngIf="!isAuthorized"
        class="auth-action-btn"
        routerLink="login"
        routerLinkActive="action-active"
      >
        Login
      </button>
      <button
        mat-button
        *ngIf="!isAuthorized"
        class="auth-action-btn"
        routerLink="signup"
        routerLinkActive="action-active"
      >
        Sign Up
      </button>

      <button
        class="auth-action-btn"
        mat-button
        *ngIf="isAuthorized"
        (click)="logoutHandler()"
      >
        Logout
      </button>

      <button
        class="auth-action-btn"
        mat-button
        *ngIf="isAuthorized"
        (click)="deleteUser()"
      >
        Delete User
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
