.mat-toolbar {
  padding: 8px 0;
}

.mat-toolbar-row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  justify-content: space-between;

  li {
    color: #fff;
    margin-right: 16px;
    font-weight: 700;
    font-size: 32px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }
}

.mat-icon {
  font-size: 28px;
}

.active {
  border-bottom: 4px #fff solid;
}
