<div class="wrapper">
  <div class="container">
    <div class="container-header">
      <div class="actions">
        <mat-icon (click)="addAnime()" class="add-item"
          >add_circle_outline</mat-icon
        >
      </div>
      <p class="count-text" *ngIf="!isListFetching">
        {{ totalAnimeCount }} Anime
      </p>
      <div class="search-input">
        <mat-icon>search</mat-icon>
        <input
          *ngIf="searchControl"
          type="text"
          placeholder="Type to search..."
          [formControl]="searchControl"
        />
      </div>
    </div>

    <mat-accordion multi [hideToggle]="true">
      <mat-spinner class="spinner" *ngIf="isListFetching"></mat-spinner>
      <mat-expansion-panel
        *ngIf="!isListFetching && isListFetched && !animeList.length"
        disabled
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            No data found. Please create new one
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let anime of tableData">
        <mat-expansion-panel-header class="row">
          <mat-icon (click)="stopPropaganation($event); editAnime(anime)"
            >edit</mat-icon
          >
          <p class="item-text">
            {{ anime.name }}
          </p>
          <mat-icon
            class="remove-icon"
            (click)="stopPropaganation($event); removeItem(anime)"
            >delete_outline</mat-icon
          >
        </mat-expansion-panel-header>
        <div class="content">
          <p>Another name: {{ anime.nameUA }}</p>
          <p>Time: {{ anime.timeText }}</p>
          <p class="start-text">
            <span> Stars: </span>
            <app-stars-icons [count]="anime.stars"></app-stars-icons>
          </p>
          <p *ngIf="anime?.starsDescr?.length">
            Description: {{ anime.starsDescr }}
          </p>
          <p *ngIf="anime?.genres?.length">Genres: {{ anime.genres }}</p>
          <div *ngIf="anime?.heroes?.length">
            Heroes:
            <span *ngFor="let hero of anime.heroes; let i = index">
              {{
                i + 1 === anime.heroes?.length
                  ? hero.heroName
                  : hero.heroName + ","
              }}
            </span>
          </div>

          <button
            class="get-more-button"
            mat-stroked-button
            color="warn"
            (click)="getAnimeById(anime.id)"
          >
            Get more
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator
      [length]="totalAnimeCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
</div>
