<div class="wrapper">
  <div class="header-background"></div>
  <div class="container">
    <div class="container-header">
      <div class="actions">
        <mat-icon (click)="addAnime()" class="add-item"
          >add_circle_outline</mat-icon
        >
        <mat-icon>cloud_circle</mat-icon>
      </div>
      <p class="count-text">{{ animeCount }} Anime</p>
      <div class="search-input">
        <mat-icon>search</mat-icon>
        <input
          *ngIf="searchControl"
          type="text"
          placeholder="Type to search..."
          [formControl]="searchControl"
        />
      </div>
    </div>

    <mat-accordion multi [hideToggle]="true">
      <mat-expansion-panel *ngFor="let item of animeList">
        <mat-expansion-panel-header class="row">
          <mat-icon (click)="stopPropaganation($event); editItem(item)"
            >edit</mat-icon
          >
          <p class="item-text">
            {{ item.name }}
          </p>
          <mat-icon
            class="remove-icon"
            (click)="stopPropaganation($event); removeItem(item)"
            >delete_outline</mat-icon
          >
        </mat-expansion-panel-header>
        {{ item.genres }}
        <mat-icon>stars</mat-icon>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
