.wrapper {
  max-width: 550px !important;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;

  & button {
    margin-top: 12px;
  }
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin: 0px 16px 16px 16px;
}

.dialog-header-title {
  padding: 12px 0px 0px 12px;
  margin: 0;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  mat-form-field {
    width: 48%;
  }

  .full-width {
    width: 100%;
  }
}

.mat-icon {
  color: #000;
}
