.wrapper {
  max-width: 550px !important;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  mat-form-field {
    width: 48%;
  }

  .full-width {
    width: 100%;
  }
}

.mat-icon {
  color: #000;
}
