<div class="wrapper">
  <div class="container">
    <div class="container-header">
      <div class="actions">
        <mat-icon (click)="addAnime()" class="add-item"
          >add_circle_outline</mat-icon
        >
      </div>
      <p class="count-text" *ngIf="!isListFetching">{{ animeCount }} Anime</p>
      <div class="search-input">
        <mat-icon>search</mat-icon>
        <input
          *ngIf="searchControl"
          type="text"
          placeholder="Type to search..."
          [formControl]="searchControl"
        />
      </div>
    </div>

    <mat-accordion multi [hideToggle]="true">
      <mat-spinner class="spinner" *ngIf="isListFetching"></mat-spinner>
      <mat-expansion-panel
        *ngIf="!isListFetching && isListFetched && !animeList.length"
        disabled
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            No data found. Please create new one
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let item of animeList">
        <mat-expansion-panel-header class="row">
          <mat-icon (click)="stopPropaganation($event); editAnime(item)"
            >edit</mat-icon
          >
          <p class="item-text">
            {{ item.name }}
          </p>
          <mat-icon
            class="remove-icon"
            (click)="stopPropaganation($event); removeItem(item)"
            >delete_outline</mat-icon
          >
        </mat-expansion-panel-header>
        <div class="content">
          <p>Another name: {{ item.nameUA }}</p>
          <p>Time: {{ item.timeText }}</p>
          <p class="start-text">
            <span> Stars: </span>
            <app-stars-icons [count]="item.stars"></app-stars-icons>
          </p>
          <p *ngIf="item?.starsDescr?.length">
            Description: {{ item.starsDescr }}
          </p>
          <p *ngIf="item?.genres?.length">Genres: {{ item.genres }}</p>
          <div *ngIf="item?.heroes?.length">
            Heroes:
            <p *ngFor="let hero of item.heroes">
              {{ hero.heroName }}
            </p>
          </div>

          <div *ngIf="item?.quotes?.length">
            Quotes: {{ item?.quotes?.length }}
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
