<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<p *ngIf="!anime && !isLoading">Not found</p>
<div *ngIf="anime?.id" class="anime-by-id">
  <p>ID: {{ anime?.id }}</p>
  <p>name: {{ anime?.name }}</p>
  <p>nameUA: {{ anime?.nameUA }}</p>
  <p>Rating: {{ anime?.rating + " " + anime?.startDescr }}</p>
  <p>status: {{ anime?.status }}</p>
  <p>time: {{ anime?.time }}</p>
  <p>userId: {{ anime?.userId }}</p>
  <div *ngIf="anime?.heroes?.length">
    HEROES:
    <ul>
      <li *ngFor="let hero of anime?.heroesList">
        <img [src]="hero.imageUrl" [alt]="hero.name" width="150" />
        {{ hero.name }}
        <div *ngIf="hero?.quotes?.length">
          Quotes:
          <p *ngFor="let quote of hero?.quotes">
            {{
              "Season " +
                quote.season +
                " episode " +
                quote.episode +
                " time " +
                quote.time +
                ":" +
                quote.text
            }}
          </p>
        </div>
        <br />
        <br />
      </li>
    </ul>
  </div>
</div>
